.modalOverlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow-y: hidden;
}

.modalContent {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding: 25px;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  overflow-y: hidden;
  flex: 1;
  position: static;

  @media (max-width: 450px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  @media (max-width: 390px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;
  }
}

.modalHeader {
  width: 100vw;
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin: 15px;
  align-items: center;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  position: relative;
}

.title {
  font-size: 25px;
}

.closeModal {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  margin-right: 15px;
}

.modalContainer .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalHeroImage {
  width: 320px;
  height: 480px;
  border-radius: 5px;

  @media (max-width: 450px) {
    width: 200px;
    height: 280px;
    margin: 0;
  }
}

.ocupation {
  @media (max-width: 450px) {
    display: none;
  }
}

.hero-information {
  list-style: none;
  margin-top: 15px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.modal-card {
  background: #fff;
  border-radius: 5px;
  height: 300px;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  @media (max-width: 450px) {
    margin-top: 20px;
    height: 260px;
    margin-bottom: 200px;
  }
  @media (max-width: 390px) {
    margin-top: 10px;
    height: 260px;
    margin-bottom: 60px;
  }
}

.modal-card1,
.modal-card2 {
  background: #fff;
  border-radius: 5px;
  height: 300px;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  @media (max-width: 450px) {
    display: none;
  }
  @media (max-width: 390px) {
    display: none;
  }
}

.informationTable {
  margin-top: 15px;
}

.modalTitleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgWrapper {
  margin-bottom: 10px;
}
